body {
    font-family: "Verdana", sans-serif;
    line-height: 1.25;
    margin: 0 auto;
    max-width: 50em;
    padding: 1em 1em;
}

img {
    max-width: 100%;
}

.title {
    color: #006699;
}

/* Table styling */
table.docinfo {
    margin: 2em auto 2em auto;
}

table.docutils th.field-name, table.docinfo th.docinfo-name {
    text-align: right;
}

#contents {
    float: right;
}

a {
    color: rgb(66, 139, 202);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
